In [44]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [7]:
CashApp = ['TSLA','MSFT','GOOGL','AMZN','HD']
data = pd.DataFrame()

for stocks in CashApp:
    data[stocks] = wb.DataReader(stocks, data_source='yahoo', start='2010-07-16')['Adj Close']

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2518 entries, 2010-07-16 to 2020-07-16
Data columns (total 5 columns):
TSLA     2518 non-null float64
MSFT     2518 non-null float64
GOOGL    2518 non-null float64
AMZN     2518 non-null float64
HD       2518 non-null float64
dtypes: float64(5)
memory usage: 118.0 KB

In [9]:
data.head()

                 TSLA       MSFT       GOOGL        AMZN         HD
Date
2010-07-16  20.639999  19.662710  230.035034  118.489998  21.434902
2010-07-19  21.910000  19.931303  233.323318  119.940002  21.403278
2010-07-20  20.299999  20.128799  241.036041  120.099998  22.083250
2010-07-21  20.219999  19.844406  238.988983  117.430000  21.719545
2010-07-22  21.000000  20.413197  242.647644  120.070000  22.312536

In [10]:
data.tail()

                   TSLA        MSFT        GOOGL         AMZN          HD
Date
2020-07-10  1544.650024  213.669998  1539.010010  3200.000000  250.110001
2020-07-13  1497.060059  207.070007  1512.229980  3104.000000  249.619995
2020-07-14  1516.800049  208.350006  1520.859985  3084.000000  257.790009
2020-07-15  1546.010010  208.039993  1516.880005  3008.870117  257.799988
2020-07-16  1500.640015  203.919998  1514.920044  2999.899902  258.079987

In [21]:
data.iloc[0]
# shows the first row at 2010-07-17

TSLA      20.639999
MSFT      19.662710
GOOGL    230.035034
AMZN     118.489998
HD        21.434902
Name: 2010-07-16 00:00:00, dtype: float64

In [12]:
returns = (data / data.shift(1)) - 1
returns.tail()
#simple return percentage for the latest results

                TSLA      MSFT     GOOGL      AMZN        HD
Date
2020-07-10  0.107848 -0.003033  0.013400  0.005458  0.008671
2020-07-13 -0.030810 -0.030889 -0.017401 -0.030000 -0.001959
2020-07-14  0.013186  0.006181  0.005707 -0.006443  0.032730
2020-07-15  0.019258 -0.001488 -0.002617 -0.024361  0.000039
2020-07-16 -0.029347 -0.019804 -0.001292 -0.002981  0.001086

In [14]:
annual_returns = returns.mean()*250
print(annual_returns)

TSLA     0.572011
MSFT     0.263877
GOOGL    0.219663
AMZN     0.369623
HD       0.273838
dtype: float64

In [43]:
returns = np.log(data / data.shift(1))
returns

# log returns calculated
# tells me more about the behavior of each stock
# a stock that shows large deviations from its mean is more voltile

                TSLA      MSFT     GOOGL      AMZN        HD
Date
2010-07-16       NaN       NaN       NaN       NaN       NaN
2010-07-19  0.059712  0.013568  0.014194  0.012163 -0.001476
2010-07-20 -0.076322  0.009860  0.032521  0.001333  0.031275
2010-07-21 -0.003949 -0.014229 -0.008529 -0.022482 -0.016607
2010-07-22  0.037850  0.028259  0.015193  0.022232  0.026936
...              ...       ...       ...       ...       ...
2020-07-10  0.102419 -0.003037  0.013311  0.005443  0.008633
2020-07-13 -0.031294 -0.031376 -0.017554 -0.030459 -0.001961
2020-07-14  0.013100  0.006162  0.005691 -0.006464  0.032206
2020-07-15  0.019075 -0.001489 -0.002620 -0.024663  0.000039
2020-07-16 -0.029786 -0.020003 -0.001293 -0.002986  0.001086

[2518 rows x 5 columns]

STATS OF POPULAR SECURITIES

In [36]:
print(returns[['TSLA','MSFT','GOOGL','AMZN','HD']].mean()) 
# daily average return

TSLA     0.001703
MSFT     0.000929
GOOGL    0.000749
AMZN     0.001284
HD       0.000989
dtype: float64

In [41]:
returns[['TSLA','MSFT','GOOGL','AMZN','HD']].mean()*250 
# annual rate of return

TSLA     0.425747
MSFT     0.232321
GOOGL    0.187216
AMZN     0.320968
HD       0.247144
dtype: float64

In [39]:
returns[['TSLA','MSFT','GOOGL','AMZN','HD']].std() 
# daily volatility of each stock

TSLA     0.034106
MSFT     0.015865
GOOGL    0.016072
AMZN     0.019666
HD       0.014621
dtype: float64

In [42]:
returns[['TSLA','MSFT','GOOGL','AMZN','HD']].std()*250**0.5 
#annual volatility of each stock

TSLA     0.539269
MSFT     0.250840
GOOGL    0.254127
AMZN     0.310947
HD       0.231174
dtype: float64